.edit-container {
	background-color: #265721;
	width: 80%;
	border-radius: 10px;
	margin: 50px auto 0 auto;

	.recipe {
		color: white;
		font-size: 25px;
		padding: 10px;

		.recipe-button {
			margin: 5px 0 10px 0;
			width: 80px;
			height: 30px;
			color: white;
			background-color: #287233;
			cursor: pointer;
			border: none;
			border-radius: 5px;

			&:hover {
				background-color: lighten($color: #287233, $amount: 10);
			}
		}
	}
}
