@use "sass:color";
.recipe-list-container {
	.search-recipe {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		margin-bottom: 20px;
		margin-top: 20px;
		align-items: center;

		&:before {
			content: "";
			display: block;
		}

		.list-recipe {
			flex: 1;
			text-align: center;
			font-size: 2rem;
			font-weight: bold;
		}

		.add-recipe-link {
			text-decoration: none;
			justify-self: flex-end;
			margin-right: 20px;
			padding: 20px 32px;
			background-color: #4caf50;
			color: white;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			width: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: bold;
			transition: filter 0.2s ease;
			font-size: 14px;

			&:hover {
				filter: brightness(1.1);
			}
		}
	}
	.recipe-input {
		margin-bottom: 32px;
	}
	.recipe-main {
		width: 100%;

		.list {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
			gap: 20px;
			padding: 0;
			margin: 10px 0 10px;
			list-style: none;

			.recipe {
				display: flex;
				flex-direction: column;
				align-items: center;
				background-color: #f0e3e3;
				border-radius: 8px;
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
				overflow: hidden;
				height: 100%;

				.image {
					width: 100%;
					height: 350px;
					object-fit: cover;
				}

				.name {
					font-weight: bold;
					font-size: 20px;
					margin-top: 14px;
				}

				.description {
					margin-top: 14px;
					font-size: 0.9rem;
					color: #666;
					padding: 0 10px;
					margin-bottom: 10px;
					width: 100%;
					flex-grow: 1;
				}

				.recipe-buttons {
					display: flex;
					gap: 10px;
					margin-top: 10px;
					margin-bottom: 10px;

					.edit-button,
					.delete-button {
						padding: 10px 20px;
						color: white;
						transition: filter 0.2s ease;
						width: 100px;

						&.edit-button {
							background-color: #4caf50;
							font-weight: bold;
							text-decoration: none;
							border-radius: 5px;
							text-align: center;
						}

						&.delete-button {
							background-color: #f44336;
							font-weight: bold;
						}
						&:hover {
							filter: brightness(1.1);
						}
					}
				}
			}
		}
	}
}
