.add-recipe-container {
	background-color: #265721;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		color: white;
		text-align: center;
		padding: 10px;
	}

	.add-recipe {
		display: flex;
		flex-direction: column;
		align-items: center;

		.recipe-box {
			padding: 15px;
		}

		.add-recipe-label {
			color: white;
			font-size: 20px;
			padding-bottom: 5px;
		}

		.add-recipe-input {
			border: none;
			outline: none;
			width: 280px;
			height: 30px;
			border-radius: 5px;
			font-size: 16px;
			padding: 5px;
		}

		.recipe-description {
			outline: none;
			border: none;
			min-height: 150px;
			width: 280px;
			border-radius: 5px;
			font-size: 16px;
			padding: 5px;
		}
	}

	.add-recipe-element {
		color: white;
		list-style-type: none;
		width: 280px;
		background-color: #287233;
		min-height: 30px;
		border-radius: 5px;
		margin: 10px;
		font-size: 20px;
		display: flex;
		align-items: center;
		padding: 5px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		.remove-button {
			background: none;
			border: none;
			cursor: pointer;
			font-size: 18px;
			.remove-element {
				color: red;
			}
		}
	}

	.add-recipe-submit {
		border: none;
		width: 150px;
		height: 30px;
		margin: 10px;
		background-color: #287233;
		color: white;
		font-weight: bold;
		cursor: pointer;
		border-radius: 5px;

		&:hover {
			background-color: lighten($color: #287233, $amount: 10);
		}
	}
}

.add-recipe-error {
	margin-top: 5px;
	color: red;
}
