.recipe-details {
	margin: 40px auto;
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	font-family: "Segoe UI", sans-serif;
	display: flex;
	flex-direction: row;
	gap: 40px;
	max-height: 85vh;

	.recipe-image {
		width: 50%;
		object-fit: cover;
		border-radius: 10px;
	}

	.recipe-content {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.recipe-title {
		font-size: 2rem;
		margin-bottom: 20px;
		color: #333;
		text-align: center;
	}

	.recipe-section {
		margin-bottom: 20px;
		max-height: 200px;
		overflow: auto;
		.details-header {
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 5px;
		}
		.details-text {
			padding: 10px;
			background-color: white;
			border: 1px solid #ededed;
			margin-top: 5px;
			border-radius: 8px;
		}
	}

	.recipe-buttons {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;

		button {
			padding: 10px 20px;
			font-size: 1rem;
			border: none;
			border-radius: 6px;
			cursor: pointer;
			transition: background-color 0.3s ease;

			&:first-child {
				background-color: red;
				color: white;
			}

			&:last-child {
				background-color: #4caf50;
				color: white;
			}

			&:hover {
				opacity: 0.9;
			}
		}
	}
}

.loading {
	text-align: center;
	padding: 60px;
	font-size: 1.2rem;
	color: #777;
}
