.details-wrapper {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 20px;

	//ustawic grid

	.top-section {
		display: flex;
		gap: 40px;

		.image-box {
			flex: 0 0 400px;
			height: 500px;

			.recipe-image {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 10px;
			}
		}

		.ingredients-box {
			background-color: #f9f9f9;
			width: 30%;
			border-radius: 10px;
			padding: 20px;
			overflow: auto;
		}
		.section-title {
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 5px;
		}
		.section-content {
			padding: 10px;
			background-color: white;
			margin-top: 10px;
			border-radius: 8px;
			border: 1px solid #ddd;
		}
		.instructions-box {
			background-color: #f9f9f9;
			width: 30%;
			border-radius: 10px;
			padding: 20px;
			overflow: auto;
		}
	}

	.bottom-section {
		display: flex;
		flex-direction: column;
		gap: 30px;

		.content-box {
			.section-title {
				font-size: 20px;
				font-weight: bold;
				margin-bottom: 5px;
			}

			.section-content {
				padding: 30px;
				background-color: white;
				border: 1px solid #ededed;
				border-radius: 8px;
				margin-top: 5px;
			}
		}

		.recipe-buttons {
			display: flex;
			justify-content: space-between;
			margin-top: 10px;
		}

		.loading {
			text-align: center;
			padding: 60px;
			font-size: 1.2rem;
			color: #777;
		}
	}
}
.meta-box {
	border-radius: 8px;
	.recipe-title {
		margin-bottom: 10px;
	}
	.description-box {
		background-color: #f9f9f9;
		padding: 30px;
		border-radius: 8px;
	}
}

.bottom-buttons {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	.details-buttons {
		margin-left: 10px;
		padding: 10px 20px;
		font-size: 1rem;
		border: none;
		border-radius: 6px;
		cursor: pointer;
		transition: background-color 0.3s ease;

		&.back-button {
			background-color: rgb(212, 202, 202);
			color: white;
			margin-left: 0;
		}
		&.delete-button {
			background-color: rgb(238, 12, 12);
			color: white;
		}

		&.edit-button {
			background-color: #4caf50;
			color: white;
		}

		&:hover {
			opacity: 0.9;
		}
	}
}
