.textarea {
	width: 100%;
	padding: 14px 16px;
	outline: none;
	font-size: 14px;
	height: 280px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	margin-top: 5px;
}

.textarea-error {
	font-size: 12px;
	font-weight: 400;
	color: red;
	position: absolute;
	height: 16px;
	bottom: 3px;
	padding-left: 6px;
}

.textarea-container {
	position: relative;
}
.textarea-text {
	padding-left: 6px;
}
