@import "../../../../../../../styles/global/globalVariables.scss";

.add-meal {
	display: flex;
	flex-direction: column;
	width: 100%;

	@media (min-width: $mobile-media) {
		gap: 10px;
		display: grid;
		grid-template-columns: 84% 15%;
		align-items: center;
	}

	@media (min-width: $desktop-media) {
		grid-template-columns: 90% 9%;
	}
	.new-meal-name {
		width: 100%;
		border-radius: 5px;
		border: 1px solid #ccc;
		margin-bottom: 20px;
		margin-top: 5px;
	}

	.new-meal-submit {
		margin-bottom: 20px;
		padding: 12px;
		background-color: #4caf50;
		color: white;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		width: 100%;
		font-weight: bold;
		transition: filter 0.2s ease;

		&:hover {
			filter: brightness(1.1);
		}

		@media (min-width: $mobile-media) {
			margin-right: 0;
			margin-bottom: 0;
			height: 45px;
			margin-top: 5px;
		}
	}
}
.new-meal-error {
	top: 54px;
}
.new-meal-label {
	font-size: 1.2rem;
	font-weight: bold;

	.new-meal-label-text {
		padding-left: 6px;
	}
}
