@use "sass:color";

@import "../../../../../../styles/global/globalVariables.scss";
.meal-table-container {
	width: 100%;
	background-color: #f4f4f4;
	min-height: 40vh;
	padding: 10px;
	border-radius: 5px;
	overflow-x: scroll;
	overflow-y: visible;
	margin-bottom: 24px;

	@media (min-width: $desktop-media) {
		overflow: hidden;
	}

	.meal-header {
		color: white;
		background-color: #c9bdbd;
		border-radius: 5px;
		font-size: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
	}

	.meal-plan-grid {
		margin-top: 10px;
		display: grid;
		grid-template-columns: 100px repeat(7, 1fr);
		grid-gap: 5px;
		.header-cell {
			color: white;
			background-color: #c9bdbd;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			font-size: 14px;
			height: 40px;
			padding: 5px;
			border-radius: 5px;
			font-weight: bold;
		}
	}
}
.recipe-name {
	background-color: #ccc;
	font-weight: bold;
	color: white;
	height: 40px;
	width: 100px;
	font-size: 12px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&:hover {
		filter: brightness(1.1);
	}

	@media (min-width: $desktop-media) {
		width: 100%;
	}
}
