.navbar {
	width: 100%;
	height: 10vh;
	background-color: rgb(192, 54, 54);
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	z-index: 1;

	.menu {
		border: none;
	}

	.logo-link {
		text-decoration: none;
	}

	.logo {
		text-align: center;

		p {
			padding-top: 0;
			color: white;
			font-weight: bold;
		}
	}

	.icon {
		color: white;
		width: 40px;
		height: 40px;
	}

	.menu-icon {
		top: 25px;
		color: white;
		font-size: 30px;
		left: 10px;
		cursor: pointer;
		position: absolute;
	}
}

.offcanvas-menu {
	position: fixed;
	background-color: lighten($color: rgb(192, 54, 54), $amount: 10);
	top: -100vh;
	margin-top: 10vh;
	width: 300px;
	transition: 0.5s;
	z-index: 1;
}

.active {
	transform: translateY(100vh);
	height: 90vh;
}

.link {
	text-decoration: none;
	color: white;
	display: block;
	padding: 10px 30px;
	&:hover {
		background-color: darken($color: rgb(192, 54, 54), $amount: 10);
	}
}
.selected {
	background-color: darken($color: rgb(192, 54, 54), $amount: 10);
	&:hover {
		background-color: rgb(192, 54, 54);
	}
}
