.container {
	background-color: #265721;
	width: 100%;
	min-height: 80vh;

	.title {
		color: white;
		font-size: 30px;
		text-align: center;
		padding-top: 10px;
	}

	.label {
		color: white;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.plan-input {
		width: 80%;
		height: 30px;
		border-radius: 5px;
		outline: none;
		border: none;
		margin-top: 10px;
	}
}
.meal-table-container {
	margin: 20px;
	background-color: rgb(192, 54, 54);
}

.add-meal {
	margin-bottom: 10px;
	text-align: center;
}

.meal-plan-grid {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 150px repeat(7, 1fr);
	grid-gap: 10px;
}

.header-cell {
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: lighten($color: rgb(192, 54, 54), $amount: 10);

	border-radius: 5px;

	font-weight: bold;
	text-align: center;
}

.meal-header {
	font-weight: bold;
	text-align: center;
	background-color: #287233;
	color: white;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}

.test {
	display: flex;
}

.meal-select {
	display: flex;
	background-color: #287233;
	align-items: center;
	justify-content: center;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	flex-direction: column;
}

.meal-select select {
	width: 100%;
}
