.instruction-box {
	display: flex;
	align-items: center;
	flex-direction: column;

	.label {
		color: white;
		font-size: 20px;
		padding-bottom: 5px;
	}
	.input {
		border: none;
		outline: none;
		width: 280px;
		height: 30px;
		border-radius: 5px;
		font-size: 16px;
		padding: 5px;
	}

	.button {
		width: 80px;
		border: none;
		margin: 10px;
		height: 30px;
		color: white;
		background-color: #287233;
		border-radius: 5px;
		font-weight: bold;
		cursor: pointer;
	}
	.button:hover {
		background-color: lighten($color: #287233, $amount: 10);
	}
	.error {
		margin-top: 5px;
		color: red;
		width: 280px;
	}
}
