@import "../../../../../../styles/global/globalVariables.scss";

.custom-file-uploader {
	position: relative;
	display: inline-block;
	text-align: center;
	margin-top: 5px;
}

.custom-file-label {
	font-size: 14px;
	background-color: #4caf50;
	color: white;
	padding: 16px 24px;
	border-radius: 5px;
	text-align: center;
	width: 100%;
	cursor: pointer;
	display: inline-block;
	transition: background-color 0.3s ease;

	@media (min-width: $mobile-media) {
		width: 150px;
	}
}

.custom-file-label:hover {
	filter: brightness(1.1);
}

.file-input {
	display: none;
}
