@import "../../styles/global/globalVariables.scss";

.navbar {
	--base-padding: 20px;
	width: 100%;
	background-color: rgb(192, 54, 54);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	z-index: 2;
	padding: 20px var(--base-padding);

	.menu {
		border: none;
	}

	.logo-link {
		text-decoration: none;
	}

	.logo {
		text-align: center;

		p {
			padding-top: 0;
			color: white;
			font-weight: bold;
		}
	}

	.icon {
		color: white;
		width: 40px;
		height: 40px;
	}

	.user {
		margin-right: 20px;

		.user-button {
			height: 100%;
			background: none;
			color: white;
			font-size: 16px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 5px;
			cursor: pointer;

			.user-icon {
				font-size: 40px;
			}
		}
	}
}

.offcanvas-menu {
	position: fixed;
	background-color: lighten($color: rgb(192, 54, 54), $amount: 10);
	left: -100vw;
	width: 100vw;
	height: 100vh;
	transition: 0.5s;
	z-index: 101;

	@media (min-width: $mobile-media) {
		width: 300px;
	}
}
.offcanvas-menu.active {
	left: 0;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transition:
		opacity 0.3s ease,
		visibility 0.3s ease;
	z-index: 100;
}

.overlay.active {
	opacity: 1;
	visibility: visible;
}

.link {
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;
	padding: 30px 30px;
	&:hover {
		background-color: darken($color: rgb(192, 54, 54), $amount: 10);
	}

	@media (min-width: $desktop-media) {
		padding: 15px 30px;
	}
}

.selected {
	background-color: darken($color: rgb(192, 54, 54), $amount: 10);
	&:hover {
		background-color: rgb(192, 54, 54);
	}
}

.menu {
	border: none;
	background: none;
}
.menu-icon {
	color: white;
	font-size: 30px;
	cursor: pointer;
	margin-left: 20px;
	@media (min-width: $desktop-media) {
		margin-left: 30px;
	}
}

.active-menu-icon {
	margin-left: 50px;
	margin-top: 35px;
}

.menu-links {
	margin-top: 50px;
	list-style-type: none;
	text-align: center;
}
