:root {
	--layout-width: 100%;
	--base-padding: 0px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
}

a,
input,
button,
textarea {
	color: inherit;
	font-family: inherit;
}

a {
	font-size: 14px;
	text-decoration: none;
}

a,
button {
	cursor: pointer;
}

html.no-scroll {
	--layout-width: 100vw;
	overflow: hidden;
	//height: 100%;

	body {
		position: relative;
		overflow: hidden;
		height: 100%;
	}
}
