@use "sass:color";
.container {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	width: 100%;

	.label {
		color: white;
		font-size: 20px;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -10px;
			width: 600px;
			height: 2px;
			background-color: rgb(192, 54, 54);
		}
	}
	.input {
		margin-top: 20px;
		border: none;
		outline: none;
		width: 80%;
		height: 30px;
		border-radius: 5px;
		font-size: 16px;
	}

	.button {
		width: 80px;
		border: none;
		margin: 20px 0 10px 10px;
		height: 30px;
		color: white;
		background-color: #287233;
		border-radius: 5px;
		font-weight: bold;
		cursor: pointer;

		&:hover {
			background-color: color.adjust(#287233, $lightness: 10%);
		}

		&[disabled] {
			background-color: #287233;
		}
	}

	.error {
		margin-top: 5px;
		color: red;
		font-size: 20px;
	}
}
.recipe-element {
	border-radius: 5px;
	margin-top: 10px;
	font-size: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #287233;
	height: 40px;
	padding: 5px;
	color: white;
}
.recipe-input {
	display: flex;
	margin-top: 10px;
}

.recipe-list {
	width: 80%;
	margin: 0;
	padding: 0;
}
.button-position {
	display: flex;
}
