.slider-container {
	width: 300px;
	height: 60vh;
	display: flex;
	flex-direction: row;
	position: relative;

	.image {
		min-width: 100%;
		min-height: 100%;
		object-position: top;
		object-fit: cover;
	}
	.buttons-container {
		position: absolute;
		display: flex;
		justify-content: space-between;
		width: 300px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.slider-button {
		margin: 5px;
		font-size: 40px;
		background: none;
		border: none;
		color: white;
		cursor: pointer;
		opacity: 0.8;

		:hover {
			height: 50px;
			width: 50px;
		}
	}

	.slider-text {
		position: absolute;
		color: white;
		background-color: rgba(0, 0, 0, 0.5);
		padding: 10px;
		bottom: 0;

		h2 {
			padding: 5px;
			text-align: center;
		}
	}
}
