.data-container {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	//dlaczego po dodaniu flex direction się wysrodkowuje element??

	.data-label {
		font-size: 20px;
		display: flex;
		margin-top: 20px;
		color: white;
		width: 400px;
		height: 40px;
		align-items: center;
		justify-content: space-around;
	}

	.data-input {
		border: none;
		border-radius: 5px;
		outline: none;
		height: 30px;
		padding: 5px;
	}
}
